* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#heading-top {
	text-align: center;
    margin-top: 30px;
}

.body-container {
    margin: auto;
	max-width: 1200px;
    padding: 100px;
}


.portfolio-container {
    margin: auto;
	max-width: 1200px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: #f0c330;
}

/* Responsive for mobile */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
    }
    
    .navbar.active .nav-links {
        display: flex;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}